@tailwind base;
@tailwind components;
@tailwind utilities;

$gutter: 1rem; //for primeflex grid system
@import '@/assets/styles/primevue/layout/layout.scss';

/* flags and badges */
@import '@/assets/styles/primevue/components/flags/flags.css';
@import '@/assets/styles/primevue/components/badges.scss';